@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Be Vietam Pro",sans-serif;
}
:root{
  --bg-orange:#e84949;
}

#wrapper{
  height: 100vh;

  overflow-x: hidden;
  overflow-y: auto;
}
.container{
  width: 75rem;
  height: 40rem;
  margin:0 auto;
  padding: 0;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  height: 5rem;
  margin:0;
  /* position: absolute; */
}
.logo{
  width: 5rem;
  margin: 0;
  border: 0;
  padding: 0;
  transform: rotateZ(7deg);
  z-index: -1;
}
.logo-container:hover .logo{
  animation: rotateby360 .8s;
  transform: rotateZ(7deg);
  position: relative;
  
}
.linkedin-logo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.logo-container{
  display: flex;
  align-items: center;
  position: relative;
}
.logo-text{
  margin-left: -1.6rem;
  padding-top: .4rem;
  letter-spacing: .1rem;
}
.nav-items{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 0 4rem;
}
.nav-items div{
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.nav-items a{
  text-decoration: none;
  color: black;
}
.nav-items :hover{
  /* transform: scale(1.3); */
  transition: all 0.3s;
  text-shadow: .2px .2px 50px black ;
  /* font-weight: 50; */
}
@keyframes rotateby360{
  0%{
      transform: rotateY(0deg);
      /* transform: rotateZ(7deg); */
    }
    50%{
      transform: rotateY(180deg);
      /* transform: rotateZ(7deg); */
    }
    100%{
      /* transform: rotateY(36  0deg); */
      /* transform: rotateZ(7deg); */
    }
}
.hero-section{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 4rem auto;
  --animation-time:4s
}
.hero-section-right .user-image{
  position: relative;
  z-index: 1;
  /* margin: 1rem solid black; */
  animation: user-image-animation var(--animation-time)  linear infinite;
  transition: smooth;  
  padding: 2rem;
  opacity: 1;
}
.hero-section-right{
  position: relative;
}
.hero-section-right .icons{
  position: absolute;
  z-index: 2;
}
@keyframes user-image-animation {
  0%{
    transform: scale(.9);
    filter: grayscale(.6);
    box-shadow: none;
    
  }
  50%{
    filter: grayscale(0%);
    box-shadow: 0px 0px 6px 2px;
    transform: scale(.8);
  }
  100%{
    box-shadow: none;
    transform: scale(.9);
    /* border-radius: 50%; */
    /* margin-top: 1.7rem;
    margin-left: 1rem; */
    filter: grayscale(.6);

  }
}
.hero-section .faded-text{
  position: absolute;
  user-select: none;
  font-size: 7rem;
  color: rgb(231,231,231);
  bottom: -35%;  
  left:0%;
}
.hero-section-heading{
  font-size: 2rem;
}
.hero-section-subheading{
  display: flex;
  align-items: center ;
  height: 5rem;
  gap: 1rem;
  font-size: 3rem;
}
.role{
  color:  rgb(54, 54, 119);
}
.absolute{
  position: absolute;
}
.hero-section-left{
  height: 100%  ;
  width: 100%;
}
.hire-me{
  position: relative;
  left: 2rem;
  bottom: -2.5rem;
}
.button{
  display: flex;
  justify-content: center;
  align-items: center;
  width:fit-content;
  height: 30px;
  padding: 0.8rem 2.3rem;
  box-sizing: content-box;
  background-color: rgb(251, 43, 43);
  color: white;
  border-radius: 0px;
  /* transform: scale(1.5); */
  box-shadow: 0px 0px 10px 2px  rgb(0, 0, 0,1);
  z-index: 1;
  position: relative;
  transition: ease .5s;
}
.button::before{
  content: "";
  background-color:white;
  position:absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 8px;
  transition:ease .5s; 
}
.button:hover{
  transform: scale(1.01);
  border-radius: 0px;
  color: rgba(0, 0, 0, 0.792) ;
  transition:ease .5s;
}
.button:hover::before{
  border-radius: 0px;
  transition: smooth .5s;
}
.button:hover::before{
  transform: scaleX(1);
  transition:all ease .5s;
}

.icon-dots{
  bottom:0;
  right:0;
  transform: scale(.9);
  animation: animate-user-dots var(--animation-time) linear infinite;
}
@keyframes animate-user-dots {
  0%{
    bottom:0;
  }
  50%{
    bottom:2rem;
  }
  100%{
    bottom:0;
  }
}
.icon-zigzag{
  left:0;
  top:2rem;
  transform: scale(.8);
  animation: animate-user-zigzag var(--animation-time) linear infinite;
}
@keyframes animate-user-zigzag {
  0%{
    left:0;
    top:1rem;
  }
  50%{
    left:2rem;
    top:-1rem;
  }
  100%{
    left:0;
    top:1rem;
  }
}
.icon-cube{
  right: 02rem;
  scale: .9;
  animation: animate-user-cube var(--animation-time) linear infinite;
}
@keyframes animate-user-cube {
  0%{
    top:-1rem;
    transform: rotateY(0deg);
  }
  50%{
    top:1rem;
    transform: rotateY(360deg);
  }
  100%{
    top:-1rem;
    transform: rotateY(0deg);
  }
}
.icon-circle{
  bottom:0;
  left: 0;
  animation: animate-user-circle var(--animation-time) linear infinite;
}
@keyframes animate-user-circle {
  0%{
    bottom:0;
    left: 0;
  }
  50%{
    bottom: 3rem;
    left:3rem;
  }
  100%{
    bottom: 0;
    left: 0;
  }
}
.icon-plus{
  scale: .9;
  animation: animate-user-plus var(--animation-time) linear infinite
}
@keyframes animate-user-plus {
  0%{
    left:45%;
    top:1rem;
  }
  50%{
    left:48%;
    top: -1rem;;
  }
  100%{
    left: 45%;
    top:1rem;
  }
}
.project-section{
  background-color: rgb(231,231,231);
}
.project-header{
  color: var(--bg-orange);
  font-size: 5.6rem;
  text-align: center;
  padding-top: 1.8rem;
}
.project-container{
  max-width: 60rem;
  margin: 0 auto;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.project-card{
  width: 90%;
  height: 400px;
  position: relative;
  box-shadow: 0px 0px 40px #1f1f1f;
  --animation-time:.4s
}
.project-card::after{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #1f1f1f9a;
  transform: scaleX(1);
  transform-origin: right;
  transition: all var(--animation-time);
}
.project-card::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  background: linear-gradient(45deg, #2c366a,#0b0e1bbe,#343d687c);
  transition: all var(--animation-time);
  transform-origin: left;
  
}
.project-card:hover::before{
  transform: scaleX(1);
}
.project-card:hover::after{
  transform: scaleX(0);
}
.project1{
  background-image: url(./images/projects/Screenshot\ 2023-07-31\ 192731.png);
  background-size: cover;
  background-repeat: no-repeat;  
}
.project2{
  background-image: url(./images/projects/Screenshot\ 8-2-2023\ 10-33-48\ PM.png);
  background-size: cover;
  background-repeat: no-repeat;  
}
.project3{
  background-image: url(./images/projects/Discord-background.png);
  background-size: cover;
  background-repeat: no-repeat;  
}

.project-number{
  position:absolute;
  z-index: 2;
  font-weight: 10rem;
  font-size: 8rem;
  color:white;
  transform: scaleX(0);
  letter-spacing: 0px;
}

.project-card:hover .project-number{
  transform: scaleX(1);
  transition: linear .4s;
}
.project-card-even{
  align-self: flex-end;
}
.project-number-odd{
  right:-3%;
  top:-7%;
}
.project-number-even{
  left:-3%;
  top:-7%;
}
.project-content{
  position:absolute;
  display: flex;
  flex-direction: column;
  color: white;
  z-index: 5;
  gap: .4rem;
  padding: 1.5rem;
  bottom: 15%;;
  transition: all .4s;
  opacity: .6;
}
.project-card:hover .project-content{
  opacity: 1;
  scale: 1.05;
}
.project-content-odd{
  left: 5%;
}
.project-content-even{
  right:5%;
  align-items: flex-end;
}
.project-skills-container{
  width: 60%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.project-content-even .project-skills-container{
  justify-content: right;
}
.project-skills{
  width: 40px;
}
.btn-grp{
  display: flex;
  align-items: center;
  gap:.7rem;
}
.git-icons{
  /* scale: 1.5; */
  color: white;
  font-size: 2rem;
}
.git-icons:hover{
  color: var(--bg-orange);
}
.project-heading{
  font-size: 2.5rem;
}
.project-description{
  width: 70%;
}
.skills-container{
  max-width: 60rem;
  position: relative;
  display: flex;
  margin: 0 auto;
  padding-top: 5rem;
  box-sizing: border-box;
}
.skills-container-left{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: .5em;
}
.skills-container-right{
  width: 50%;
  padding: 3rem;
  margin: 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.skills-container-right .project-skills-container{
  width: 4rem;
  height: 4rem;
}
.skills-container-right .project-skills-container .project-skills{
  width: 100%;
  height: 100%;
  transition: .2s linear;
}
.blob-style{
  position: absolute;
  z-index: -1;
  scale: .65;
  transform: translateY(-4%);
  animation: blob-animate 3s linear infinite;
}
@keyframes blob-animate {
  50%{
    transform: translateY(4%);
  }
}
.skills-container-right .project-skills-container:hover .project-skills{
  width: 100%;
  height: 100%;
  transform: scale(1.2);
  transition: .2s linear;
  /* transform: rotateY(360deg) ; */
  /* transition: .5 linear; */
}
.skills-faded-text{
  position: absolute;
  user-select: none;
  font-size: 15em;
  color: rgb(231,231,231);
  bottom: -60%;  
  right: -30%;
}
.skill-heading .caps{
  font-size: 4.5rem;
  font-weight: 300;
}
.skill-heading{
  color: var(--bg-orange);
  font-weight: 300;
  font-size: 2.5rem;
  font-style: bold;
}
.contactme-section{
  background-color: rgb(231,231,231);
  margin-top: 14rem;
}
.contact-heading{
  color: var(--bg-orange);
  font-size: 5em;
  /* text-align: center;   */
  /* padding-top: 1.8rem; */
}
.contactme-container{
  max-width: 60rem;
  margin: 0 auto;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
}
.contact-subheading{
  /* text-align: center;  */
  font-size: 2em;
  letter-spacing: .1rem;
  color: #343d68aa;
}
.contact-form-container{
  margin: 0 auto;
  width: 80%;
}
.form-field-container{
  width: 100%;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.form-field{
  width: 100%;
  height: 42px;
  border-radius: 5px;
  border: none;
  padding: 0 2rem;
  box-shadow: 2px 2px 10px #1f1f1f;
  font-weight: 500;
  /* height: 2rem; */
}
.submit-button{

  margin-top: 2rem;
  padding: 0 2rem;
  box-sizing: content-box;
  height: 3rem;
  width: 10rem;
  font-size: 2rem;
  display: flex;
  gap: .8rem;
  /* position: absolute; */
  left: 2%; 
}
.form-field-text{
  height: auto;
}
.submit-button:hover .submit-icon{
  animation: submit-button-animation .6s linear;
}
@keyframes submit-button-animation{
  25%{
    transform: rotateZ(25deg);
  }
}
footer{
  background-color: #343d68;
  padding: 0;
  margin: 0;
  border: 0;
  position: relative;
  overflow-y: hidden;
}
footer .container{
  height: auto;
  background-color: #343d68;
  position: relative;
  margin-top: -1px;
  padding: 5rem;
}
.footer-faded-text{
  position: absolute;
  user-select: none;
  left: 0;
  bottom: -10%;
  color: #535c87;
  font-size: 5em;
  z-index: 2;
  padding-bottom: 0;
  border-bottom: 0;
  margin-bottom: 0;

}
.footer-wrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
  
}
.link-wrapper{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 0 4rem;
}
.link-wrapper div{
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.link-wrapper a{
  text-decoration: none;
  color: white;
}
.footer-link:hover{
  color: var(--bg-orange);
}
.icon-wrapper{
  display: flex;
  gap: 1rem;
  scale: 1.3;
}